__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
\.venv/
/.idea/
.vscode/
dist/
build/
*.egg-info/
*.egg
/.pytest_cache/
*.sqlite3
*.log
models/
*.pt
*.onnx
__pycache__/
outputs/
runs/
/.DS_Store
.env
.venv
pip-wheel-metadata/
test_images/